@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.color-item{
    display: flow-root;
    font-family: 'Roboto Mono', monospace;
}
.color-hex{
    float: left;
    padding-left: 2%;
}
.color-name{
    float: right;
    padding-right: 2%;
}