@import url('https://fonts.googleapis.com/css?family=Roboto:100i');

.brand-logo{
  font-family: 'Roboto', sans-serif;
}

.main-input {
  width: auto;
  margin: 0 auto;
}

.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}
nav{
  padding-left: 2%;
}
.page-footer{
  padding-top: 0px; 
}